<form class="form-horizontal">
    <h3>Settings</h3>
    <div class="control-group">
        <label class="control-label">Length Threshold</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="1" class="input-mini text-right" data-bind="value: settings.plugins.HeaterTimeout.interval">
                <span class="add-on">s</span>
            </div>
            <span class="help-inline">allowed length difference between: filament needed (gcode) and filament provided (sensor) \nIf those values are different this mean that we have a filament feeder issue and we should pause the print.</span>
        </div>
    </div>
</form>
